{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block body %}
<h1>Posts</h1>
{% if user %}
<h2>by {{user.name}}</h2>

{% if form %}
<!--New post form-->
<form action="{{ url_for('blog.posts') }}" method="POST" class="mb-3">
    {{ form.csrf_token }}
    <div class="form-group mb-3">
        {{ form.title.label }}
        {{ form.title(class="form-control") }}
    </div>
    <div class="form-group mb-3">
        {{ form.body.label }}
        {{ form.body(class="form-control", rows=3) }}
    </div>
    {{ form.user_id(type="hidden") }}

    {% if form.errors %}
    <div class="errors my-2">
        {% for name, errors in form.errors.items() %}
        <div class="alert alert-danger">
            {% if name %}
            <strong>{{ name }}</strong>
            {% endif %}
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <button type="submit" class="btn btn-primary">Add</button>
</form>
{% endif %}

{% else %}
<!--Alert-->
<div class="alert alert-info" role="alert">
    Select user to add posts
</div>
{% endif %}



{% for post in posts %}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.body }}</p>
        <!--Author info-->
        {% if not user %}
        <p class="card-text">
            <small class="text-muted">
                <a href="{{ url_for('blog.posts', user_id=post.user_id) }}">{{ post.user.name }}</a>
            </small>
        </p>
        {% endif %}
        <p class="card-text"><small class="text-muted">{{ post.created_at }}</small></p>
    </div>
</div>
{% endfor %}
{% endblock %}